
pre, code {
	border-color: var(--vscode-tab-border);
	border-radius: 0 !important;
	font-size: 14px;
}

hr {
	border: none;
	border-top: 2px solid #999 !important;
}

h1, h2 {
	border-bottom: 2px solid var(--vscode-disabledForeground) !important;
}
